<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mc.scheduler.mapper.CommentMapper" >

    <!--  insert  -->
    <insert id="insertGrabUser">
        insert into grab_user
        <foreach collection="update.get()" item="value" index="key" separator="," open="(" close=")">
            ${key}
        </foreach>
        VALUES
        <foreach collection="update.get()" item="value" index="key" separator="," open="(" close=")">
            <choose>
                <when test='value.getClass().getName().equals("java.time.Instant")'>
                    #{value,jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    #{value}
                </otherwise>
            </choose>
        </foreach>
    </insert>

    <select id="getGrabUser" resultType="cn.mc.core.dataObject.GrabUserDO">
        SELECT
        <foreach collection="fields.get()" separator="," item="field">
            ${field}
        </foreach>
        FROM grab_user WHERE nick_name=#{nickName}
    </select>

    <select id="getNewsCommentCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM ${cTable} WHERE news_id=#{newsId}
    </select>


</mapper>