<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mc.scheduler.mapper.NewsSectionUserMapper" >

    <!--  insert  -->
    <insert id="insert">
        insert into news_section_user
        <foreach collection="update.get()" item="value" index="key" separator="," open="(" close=")">
            ${key}
        </foreach>
        VALUES
        <foreach collection="update.get()" item="value" index="key" separator="," open="(" close=")">
            <choose>
                <when test='value.getClass().getName().equals("java.time.Instant")'>
                    #{value,jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    #{value}
                </otherwise>
            </choose>
        </foreach>
    </insert>

    <!--  select data keys  -->
    <select id="selectByDataKey" resultType="cn.mc.core.dataObject.NewsSectionUserDO">
        SELECT
        <foreach collection="fields.get()" separator="," item="field">
            ${field}
        </foreach>
        FROM news_section_user
        WHERE
        data_key = ${dataKey}
    </select>

    <select id="selectUserDataById" resultType="cn.mc.core.dataObject.NewsSectionUserDO">
        SELECT
        <foreach collection="fields.get()" separator="," item="field">
            ${field}
        </foreach>
        FROM news_section_user
        WHERE
        news_id = #{newsId}
    </select>

</mapper>