<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mc.scheduler.mapper.PaperTypeMapper" >

    <!--
      插入 - paperType
    -->
    <insert id="insert">
        INSERT INTO paper_type
        <foreach collection="update.get()" item="value" index="key" separator="," open="(" close=")">
            ${key}
        </foreach>
        VALUES
        <foreach collection="update.get()" item="value" index="key" separator="," open="(" close=")">
            <choose>
                <when test='value.getClass().getName().equals("java.time.Instant")'>
                    #{value,jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    #{value}
                </otherwise>
            </choose>
        </foreach>
    </insert>

    <!--
        查询 - all
    -->
    <select id="listAll" resultType="cn.mc.core.dataObject.paper.PaperTypeDO">
        SELECT
        <foreach collection="fields.get()" separator="," item="field">
            ${field}
        </foreach>
        FROM paper_type
        WHERE status = #{status}
    </select>
</mapper>